<div class="gzo-block-stats">
	{% EVENT gzo_online_prepend %}

	{{ TOTAL_USERS_ONLINE }} ({{ L_ONLINE_EXPLAIN }})<br>{{ RECORD_USERS }}<br>

	{% if U_VIEWONLINE %}
		<br>{{ LOGGED_IN_USER_LIST }}<br>

		{% if legend %}
			<em>{{ lang('LEGEND') ~ lang('COLON') }}
				{% for item in legend %}
					{% set color = item.color ? 'color:#' ~ item.color : '' %}

					{% if item.not_authed %}
						<span>{{ get_group_name(item.name) }}</span>
					{% else %}
						{{ link({'href': item.link, 'style': color}, get_group_name(item.name)) }}
					{% endif %}{{ not loop.last ? ', ' }}
				{% endfor %}
			</em>
		{% endif %}

	{% endif %}

	{% EVENT gzo_online_append %}
</div>
