{% embed '@ganstaz_gzo/includes/block-item.twig' %}

	{% block block_heading %}{{ lang('INFORMATION') }}{% endblock %}

	{% block block_mid_content %}
		<dl class="gzo-info t-gzo-info">

			<dt>{{ lang('PORTAL_VERSION') }}</dt>
			<dd><span class="green">{{ core_stable }}</span></dd>

			<dt>{{ lang('PHPBB_VERSION') }}</dt>
			<dd><span class="green">{{ phpbb_version }}</span></dd>

			<dt>{{ lang('PORTAL_STYLE') }}</dt>
			<dd>{{ T_TEMPLATE_NAME }}</dd>

			{% EVENT ganstaz_gzo_info_after %}
		</dl>
	{% endblock %}

{% endembed %}
