{# TODO: We should move it inna twig extension #}
{% from '@ganstaz_gzo/macros/tags.twig' import icon, url %}

{% if category.heading === 'GZO_DASHBOARD' %}
	<li class="sidebar-item">
	    <a class="sidebar-link" href="{{ path(category.item[0].route) }}" aria-expanded="false">
		    {{ icon('icon', 'home fa-fw') }}
		    <span class="hide-menu">{{ lang(category.heading) }}</span>
	    </a>

	    {# {{ url({'href': path(category.item[0].route), 'class': 'sidebar-link', 'aria-expanded': false}, icon('icon', 'home fa-fw', null, lang(category.heading))) }} #}
	</li>
	<li class="list-divider"></li>
{% else %}
	<li class="sidebar-item">

		<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
			{{ icon('icon', category.icon ~ ' fa-fw') }}

			<span class="hide-menu">{{ lang(category.heading) }}</span>
		</a>

		<ul aria-expanded="false" class="collapse first-level base-level-line">

			{% for item in category.item %}
				<li class="sidebar-item">
					<a href="{{ path(item.route) }}" class="sidebar-link">
						{{ icon('icon', item.icon ~ ' fa-fw') }}
						<span class="hide-menu">{{ lang(item.title) }}</span>
					</a>

					{# {{ url({'href': path(item.route), 'class': 'sidebar-link'}, lang(item.title)) }} #}
				</li>
			{% endfor %}

		</ul>

	</li>
{% endif %}
