{% extends 'layout/app-base.twig' %}

{% block top_content %}
	{% if news %}
		{% from 'macros/tags.twig' import icon %}

		<div role="navigation">
			<div class="inner">

			<ul id="nav-main" class="nav-main linklist" role="menubar">

				<li id="quick-links" class="quick-links dropdown-container responsive-menu" data-skip-responsive="true">
					<a href="#" class="dropdown-trigger">
						<i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{{ lang('CATEGORIES') }}</span>
					</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">

							<li class="separator"></li>
							{% for cid, category in S_CATEGORIES %}
								<li>
									<a href="{{ category }}" role="menuitem">{{ cid }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</li>

				{% if not S_IS_BOT and S_DISPLAY_POST_INFO %}
					<li {% if not S_USER_LOGGED_IN %}data-skip-responsive="true"{% else %}data-last-responsive="true"{% endif %}>

						<a href="{{ GZO_NEW_POST }}" class="button" title="{{ lang('POST_ARTICLE') }}">
							<span>{{ lang('NEW_ARTICLE') }}</span> {{ icon('icon', 'pencil fa-fw') }}
						</a>

					</li>
				{% endif %}

			</ul>
			</div>
		</div>

	{% endif %}
{% endblock %}

{% block mid_content %}
	{% if news %}

		{% for news in loops.news %}
			{{ include('includes/news-item.twig') }}
		{% endfor %}

		{% if pagination %}
			<div class="gzo-pagination">
				<div class="pagination">
					{{ lang('TOTAL_POSTS_COUNT', total_news) }} &bull; {{ PAGE_NUMBER }} {{ include('includes/pagination.twig') }}
				</div>
			</div>
		{% endif %}

	{% endif %}
{% endblock %}
